body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: gray;
}

fieldset {
    width: 400px;
    position: relative;
    border: 2px solid #764343;
}

th {
    background: cornflowerblue;
    padding: 5px 20px 5px 20px;
    border-bottom: #003f8b solid 1px;
    color: white;
}

th.round {
    border-top-right-radius: 5px 5px;
}

td.event {
    font-weight: bold;
}

tr.even td {
    background-color: #e8eff5;
}

tr.odd td, tr.odd {
    background: #d1e3f8;
}

td {
    padding: 5px 10px 5px 10px;
    border-right: #777777 1px solid;
    margin-bottom: 0;
}

table {
    border-collapse: collapse;
    margin-bottom: 30px;
}

ul {
    list-style-image: url(/images/icon-plus.png);
    display: grid;
    gap: 10px;
    margin-bottom: 30px;
}

legend {
    font-style: italic;
}

.submit {
    position: absolute;
    margin-top: 30px;
    right: 0;
}

input[type='submit'] {
    background-color: #369900;
    border: 1px solid #006633;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}

input[type='submit']:hover {
    background-color: #296b05;
    cursor: pointer;
}